@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1 {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  text-align: end;
  padding-right: 2%;
}

.flex {
  display: flex;
  text-align: center;
  height: 90vh;
}

.grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);

  padding-block: 2rem;
  width: min(95%, 70rem);
  margin-inline: auto;
}

.tile {
  border: 1px solid black;
  box-shadow: 5px 10px #000000;
}

.tile:nth-child(4) {
  background-color: black;
  border: 1px solid white;
}

.tile:nth-child(2) {
  background-color: rgb(170, 155, 182);
}

.tile-one {
  background: linear-gradient(#e66465, #9198e5);
}

.tile-text{
  padding-top: 20px;

  font-family: "Roboto Mono", monospace;
  font-weight: 300;
}

.grid-col-span-2 {
  grid-column: span 2;
}

.tile:last-child {
  grid-column: 4;
  grid-row-start: 1;
  grid-row-end: span 2;
}

.btn-box {
  display: grid;
  padding-top: 20px;
}

.clickme-button {
  background-color: white;

  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  letter-spacing: 0.2em;

  padding: 4px;
  margin: 4px;
}

.counter-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-btn {
  background-color: rgb(0, 0, 0);
  color: white;

  font-family: "Roboto Mono", monospace;
  font-size: large;
  font-weight: 400;
  letter-spacing: 0.2em;

  padding: 4px;
  margin: 4px;
}

h2 {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;

  padding: 10px;
}
